/*
 * Regular variables start with a '$' and link with underscores.
 * Mixin variables start '$_' to indicate they are scoped to the block.
 */
 html {
    font-weight: 400;
    line-height: 1.5;
  }
  body {
    margin: 0;
    background-color: #fafffb;
    background-color: #faffff;
  }
  body > footer {
    font-family: 'Woodford Bourne', 'Lato', 'Futura', 'Helvetica', sans-serif;
    font-size: 1em;
    letter-spacing: 0.3px;
    font-weight: bold;
    display: block;
    background-color: #373331;
    color: #f0f0f0;
    text-transform: uppercase;
    text-align: center;
    padding: 2.2rem;
  }
  @media (min-width: 576px) {
    body > footer {
      font-size: 1.2rem;
    }
  }
  body > footer p {
    margin: 0;
  }
  main {
    padding-bottom: 2.2rem;
  }
  article header, article .content-container-standard {
    padding: 0.5rem;
    max-width: 87%;
    margin-left: auto;
    margin-right: auto;
  }
  @media (min-width: 768px) {
    article header, article .content-container-standard {
      width: 90%;
      margin: 0 auto;
    }
    article header {
      max-width: 67.5rem;
    }
    article .content-container-standard {
      max-width: 768px;
    }
  }
  article header h1, article header ul.meta, article header .article-links a {
    font-family: 'Woodford Bourne', 'Lato', 'Futura', 'Helvetica', sans-serif;
  }
  article header h1 {
    margin: 1rem 0;
    text-transform: uppercase;
    color: #4870cb;
    line-height: 1.15;
    font-size: 2.5rem;
    letter-spacing: 3px;
  }
  @media (min-width: 576px) {
    article header h1 {
      font-size: 3.375rem;
    }
  }
  article header h1 span {
    display: block;
    margin-top: 1rem;
    color: #14b4b5;
    font-size: 1.5rem;
    line-height: 1;
  }
  @media (min-width: 576px) {
    article header h1 span {
      margin-top: 1rem;
      font-size: 2rem;
      line-height: 1.15;
    }
  }
  article header ul.meta {
    list-style: none;
    padding-left: 0;
    color: #373331;
    font-size: 1em;
  }
  article header ul.meta li {
    display: inline-block;
  }
  article header ul.meta li:after {
    content: '|';
    margin-left: 0.5rem;
    margin-right: 0.25rem;
  }
  article header ul.meta li:last-child:after {
    content: none;
  }
  article header .article-links {
    display: flex;
    flex-direction: column;
    text-align: center;
    text-transform: uppercase;
  }
  article header .article-links a {
    font-weight: bold;
    font-family: 'Woodford Bourne', 'Lato', 'Futura', 'Helvetica', sans-serif;
    font-size: 1em;
    letter-spacing: 0.3px;
  }
  @media (min-width: 576px) {
    article header .article-links a {
      font-size: 1.2rem;
    }
  }
  article header .article-billboard {
    display: grid;
    grid-template-columns: 1fr 4fr 4fr 4fr 2fr;
    max-width: 67.5rem;
    margin-bottom: 2.2rem;
  }
  article header .article-billboard img.billboard-desktop {
    grid-column: 1 / span 9;
    grid-row: 1 / span 9;
    justify-self: center;
  }
  article h2, article h3 {
    font-family: 'freight-text-pro', sans-serif;
    margin-top: 2rem;
  }
  article h2 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    line-height: 1.15;
  }
  article h2:first-child {
    margin-top: 1rem;
  }
  article h3 {
    font-size: 1.625rem;
    margin-bottom: 1rem;
    line-height: 1.25;
  }
  article img {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  article img.profile {
    border-radius: 5px;
  }
  article a {
    color: #14b4b5;
  }
  article .article-content {
    color: #373331;
  }
  article .article-content p, article .article-content ul, article .article-content ol, article .article-content a {
    font-family: 'Woodford Bourne', 'Lato', 'Futura', 'Helvetica', sans-serif;
    font-size: 1em;
    letter-spacing: 0.3px;
  }
  @media (min-width: 576px) {
    article .article-content p, article .article-content ul, article .article-content ol, article .article-content a {
      font-size: 1.2rem;
    }
  }
  article .article-content p {
    margin-top: 0.5rem;
  }
  article ul.colour-list {
    list-style-type: none;
    padding: 0.15rem;
  }
  @media (min-width: 576px) {
    article ul.colour-list {
      columns: 2;
    }
  }
  @media (min-width: 768px) {
    article ul.colour-list {
      columns: 3;
    }
  }
  article ul.colour-list li {
    margin-left: 1.25rem;
    text-indent: -0.5px;
  }
  article ul.colour-list li:before {
    content: '';
    display: inline-block;
    border-radius: 50%;
    height: 9px;
    width: 9px;
    margin-right: 0.625rem;
    margin-top: -3px;
    vertical-align: middle;
    background-color: red;
  }
  @media (min-width: 576px) {
    article ul.colour-list li:before {
      background-color: green;
    }
  }
  article footer.colophon h2 {
    font-size: 1.625rem;
  }
  article footer.colophon p {
    font-size: 1em;
  }
  @media (min-width: 768px) {
    article footer.colophon h2 {
      font-size: 1.5rem;
    }
  }
  article footer.colophon ul.grid {
    list-style-type: none;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
    padding: 0;
    width: 100%;
    margin: 1rem auto;
    /* Colour blobs (old)
     &.colour-blobs li {
     display: inline-block;
     background-color: grey;
     border-radius: $border_radius_circle;
     height: 2.75rem;
     width: 2.75rem;
     @include breakpointAbove(md) {
     height: 5rem;
     width: 5rem;
     }
     &:before {
     content: '#373737';
     font-size: 0.8rem;
     width: 2.5rem;
     padding: .2rem .4rem;
     background-color: white;
     border: 1px solid;
     border-radius: $border_radius_standard;
     }
     }
     */
  }
  @media (min-width: 576px) {
    article footer.colophon ul.grid {
      width: 80%;
    }
    article footer.colophon ul.grid.grid-4 {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    article footer.colophon ul.grid.grid-3 {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
  article footer.colophon ul.grid.colour-swatches {
    font-size: 1em;
    text-align: right;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 1px;
  }
  article footer.colophon ul.grid.colour-swatches:first-of-type {
    margin-bottom: 2.2rem;
  }
  article footer.colophon ul.grid.colour-swatches li {
    position: relative;
    padding: 1.5rem 0.5rem 0.5rem;
    color: #f0f0f0;
    box-shadow: 0 0 6px 0px #cecece;
    transition: all 0.15s ease-in-out;
    z-index: 1;
    cursor: pointer;
    border-radius: 5px;
  }
  article footer.colophon ul.grid.colour-swatches li:hover {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, .4);
    transform: scale(1.25);
    z-index: 2;
  }
  article footer.colophon ul.grid.colour-swatches li.inverse {
    color: #373331;
  }
  article footer.colophon ul.grid.colour-swatches li.primary-teal {
    background-color: #14b4b5;
  }
  article footer.colophon ul.grid.colour-swatches li.primary-orange {
    background-color: #f57f3f;
  }
  article footer.colophon ul.grid.colour-swatches li.primary-black {
    background-color: #373331;
  }
  article footer.colophon ul.grid.colour-swatches li.primary-white {
    background-color: #f0f0f0;
  }
  article footer.colophon ul.grid.colour-swatches li.secondary-dull-blue {
    background-color: #4870cb;
  }
  article footer.colophon ul.grid.colour-swatches li.secondary-dull-yellow {
    background-color: #ffc247;
  }
  article footer.colophon ul.grid.colour-swatches li.secondary-dull-red {
    background-color: #ff4747;
  }
  article footer.colophon ul.grid.colour-swatches li.secondary-bright-blue {
    background-color: #16c1f3;
  }
  article footer.colophon ul.grid.colour-swatches li.secondary-bright-yellow {
    background-color: #ffb31c;
  }
  article footer.colophon ul.grid.colour-swatches li.secondary-bright-red {
    background-color: #ff1c1c;
  }
  
.center{
    display: flex;
    justify-content: center;
}